.Footer{
    padding: 2rem;
    
}
.ft-1 p{
    padding: 0rem 5rem 0.8rem 0;
}


.ft-2 ul li{
    padding: 2px;
    margin-bottom: 0.40px;    
}
.ft-2 a{
    text-decoration: none;
    color:white;
}
.ft-3 ul li{
    padding: 2px;
    margin-bottom: 0.40px;    
}
.ft-3 a{
    text-decoration: none;
    color:white;
}

.ft-4 ul li{
    padding: 2px;
    margin-bottom: 0.40px;    
}
.ft-4 a{
    text-decoration: none;
    color:white;
}

.footer-icons{
    top: 0;
    right:0px;
    margin-top: 10px;
    padding-top: 5px;
    padding-right:5px;
    padding: 10px;
    position:absolute;

    }
    .footer-icons i
    {
        font-size: 20px;
        margin-right: 5px;
        margin-top: 10px;
        padding:10px


    }
   .footer-mail input{
        width: 75%;
        height: 100%;
        display: block;
        border-radius: 10px;
        font-size: 18px;
        padding: 2px 15px 5px 10px ;
        border: none;
        margin-top: 10px;
        text-align: left;
        position: relative;
    }
    
